.container {
  background-color: #262626;
  border: 1px solid #333333;
  border-radius: 8px;
  box-sizin: border-box;
  padding: 16px;
  gap: 14px;
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  margin: 12px auto;

}
input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
   margin: 0;
   font: inherit;
   color: #4ea8d3;
   width: 1.55em;
   height: 1.55em;
   border: 0.15em solid currentColor;
   border-radius: 100px;
   transform: translateY(-0.075em);
   display: grid;
   place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #FFF;
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.container > div {
  display: flex;
  gap: 15px
}

input {
}

p {
  font-weigth: 400;
  font-size: 16px;
  color: #F2F2F2;

}