header {
  width: 100%;
  height: 200px;
  background-color: #0D0D0D;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  width: 736px;
  border-radius: 8px;
  border: 1px solid #0D0D0D;
  background-color: #F2F2F2;
  color: #808080;
  font-size: 16px;
  padding: 16px;
}

input + button {
  padding: 8px;
  max-width: 90px;
  height: 54px;
  background-color: #1E6F9F;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
}

.inputContainer{
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
  max-width: 736px;
  margin: -27px auto 0 auto;
}
.innerInputContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}
.innerInputContainerHeader{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.innerInputContainerHeader > div {
  display: flex;
  gap: 10px;
}